<!--
  This template loads for the 'tab.book-detail' state (app.js)
  'friend' is a $scope variable created in the BookDetailCtrl controller (controllers.js)
  The BookDetailCtrl pulls data from the SingleBook service (service.js)
  The Books service returns an array of Books data
-->
<ion-view view-title="Book Detail">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{book.authors.author.image_url.__cdata}}">
        <h2>{{book.title}}</h2>
        <p>{{book.authors.author.name}}</p>
      </div>
      <div class="item item-body">
        <img class="item item-thumbnail" src="{{book.small_image_url}}">
        <h1> {{book.title}}</h1>
        <p ng-bind-html="book.description"></p>
        <h3>Published on : {{book.publication_day}} / {{book.publication_month}} / {{book.publication_year}} </h3>
      </div>
    </div>
  </ion-content>
</ion-view>
